@layer components {
    .dashboard-layout {
        --sidebar-width: 20rem;
        --sidebar-bg: var(--c-surface);
        --handle-size: 2rem;    /* 取っ手のサイズ */
        --handle-overlap: 1rem; /* 取っ手をどれだけ外に出すか */

        display: flex;
        min-height: var(--l-header-h); /* headerの高さ分 */
    }

    /*
     * sidebar
     */
    .dashboard__sidebar {
        position: fixed;
        left: 0;
        top: var(--l-header-h); /* headerの下から */
        height: calc(100vh - var(--l-header-h));/* header分を除外 */
        width: var(--sidebar-width);
        max-width: 80vw;
        transition: transform 0.3s ease;
        background-color: var(--sidebar-bg);

        /* 取っ手アイコン */
        .dashboard__sidebar-handle{
            position: absolute;
            top: 50%;
            right: calc(-1 * var(--handle-overlap)); /* 右に半分はみ出す */
            transform: translateY(-50%);
            width: var(--handle-size);
            height: var(--handle-size);
            border: 0;
            padding: 0;
            cursor: pointer;
            z-index: 2; /* サイドバーの中身より前に */
            
            /* アイコン透過してるので背景を付ける */
            background-color: var(--sidebar-bg);
            border-radius: 999px;

            img{
                /* 画像サイズを合わせる */
                width: 100%;
                height: 100%;
            }

            /* アイコン初期表示 */
            .sidebar-handle__icon--close { display:block; }
            .sidebar-handle__icon--open { display:none; }
        }
    }

    .dashboard__sidebar.is-closed{
        /* 閉じる（左に隠す） */
        transform: translateX(calc(-100% + var(--handle-overlap)));

        /* アイコン切り替え */
        .sidebar-handle__icon--close { display:none; }
        .sidebar-handle__icon--open { display:block; }
    }

    /*
     * main
     */
}