@use '../components/card' as card;
@use '../components/form' as form;

@layer components {
    .reset-password-card {
        o@include card.card(36rem, 38rem, 1.75rem 2rem 2rem); 

        .title {
            margin-bottom: 1.5rem;
        }

        .error-message {
            @include form.error(center);
        }

        .input-field {
            margin-right: 2rem;
        }

        .email-block,
        .password-block {
            margin-bottom: 1rem;
        }

        .password-confirmation-block {
            margin-bottom: 0.25rem;
        }

        .field-row {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 5%;  /* ラベルと入力の間隔 */
        }

        label {
            display: inline-block;
            width: 30%;
            text-align: right;
            font-size: var(--fs-md);
            flex: 0 0 auto;
        }

        .textbox {
            @include form.textbox;
        }

        .textbox {
            @include frm.textbox;
        }

        .button {
            @include form.button(20rem, 1.5rem 0 0.5rem);
        }

        .password-hint {
            @include form.hint;
        }
    }
}