@use '../components/card' as card;
@use '../components/form' as form;

@layer components {
    .reset-password-card {
        text-align: center;

        @include card.card(
            $height: 36rem,
            $width: 42rem,
            $padding: 1.75rem 2rem 2rem
        );

        .title {
            margin-bottom: 0.75rem;
            color: var(--c-text);
            font-size: var(--fs-xl);
            font-weight: 700;
            line-height: 1.4;
        }

        .error-message {
            @include form.error(center);
        }

        .input-field {
            margin-right: 2rem;
        }

        .email-block,
        .password-block {
            margin-bottom: 1rem;
        }

        .password-confirmation-block {
            margin-bottom: 0.25rem;
        }

        .field-row {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 5%;  /* ラベルと入力の間隔 */
        }

        label {
            display: inline-block;
            width: 40%;
            text-align: right;
            font-size: var(--fs-md);
            flex: 0 0 auto;
        }

        .textbox {
            @include form.textbox;
        }

        .textbox {
            @include form.textbox;
        }

        .button {
            @include form.button(20rem, 1.5rem 0 0.5rem);
        }

        .password-hint {
            @include form.hint;
        }
    }

    .reset-password-form {
        margin: 0 auto;

        .input-field {
            margin-right: 2rem;
        }

        .email-block,
        .password-block {
            margin-bottom: 1rem;
        }

        .password-confirmation-block {
            margin-bottom: 0.25rem;
        }

        .field-row {
            display: flex;
            align-items: center;
            width: 100%;
            gap: 5%;
        }

        label {
            display: inline-block;
            flex: 0 0 auto;
            width: 30%;
            color: var(--c-muted);
            font-size: var(--fs-md);
            text-align: right;
        }

        .textbox {
            @include form.textbox;
        }

        .button {
            @include form.button(20rem, 1.5rem 0 0.5rem);
        }

        .password-hint {
            @include form.hint;
        }
    }
}




