@layer components {

    .forgot-password-card {
        background: var(--c-surface);
        height: min(36rem, calc(100% - 1rem));
        width: min(38rem, calc(100% - 1rem));
        padding: 1.75rem 4rem 2rem; 
        box-sizing: border-box; /* 子要素が親依存になる */
        border: 4px solid var(--c-border-strong);
        border-radius: 0.8rem;
        color: var(--c-black-soft);
        text-align: center;
    }

    .forgot-password-card .title {
        font-size: var(--fs-page-title);
        font-weight: 700;
        line-height: 1.5; 
    }

    .forgot-password-card .description {
        margin: 0.4rem 0 1.5rem;
        font-size: var(--fs-sm);
        color: var(--c-subtle);
    }

    .forgot-password-form {
        margin: 0 auto;
    }

    .forgot-password-form .email-field {
        width: 100%;
    }

    .forgot-password-form label {
        display: inline-block;
        font-size: var(--fs-md);
        margin-right: 1rem;
    }

    .forgot-password-form .textbox {
        display: inline-block;
        min-width: 0;   /* 横幅が狭い時に崩れにくい */
        width: 70%;
        height: 2.2rem;
        padding: 3px 7px;
        background-color: var(--c-textbox);
        border-radius: 5px;
        border: 2px solid var(--c-border);
    }

    .forgot-password-form .textbox:focus {
        outline: 0;
        background-color: var(--c-textbox);
        border: 2px solid var(--c-textbox-focus);
    }

    .forgot-password-form .button {
        background: var(--c-button);
        height: auto;
        width: 20rem;
        margin: 1.5rem 0 0.5rem;
        padding: 1rem 0;
        border: 2px solid var(--c-button-border);
        border-radius: 0.75rem;
        font-size: var(--fs-md);
        line-height: 1.2; 
    }

    .forgot-password-form .error-message {
        display: block;
        text-align: center;
        font-size: var(--fs-xs);
        color: var(--c-warning);
        line-height: 1.5;
    }
    
    .forgot-password-form .is-invalid {
        border: 2px solid var(--c-warning);
    }

    .forgot-password-card .status-message {
        background: var(--c-green-ultra-light);
        height: auto;
        width: auto;
        margin-top: 1rem;
        padding: 0.2rem 0;
        border: 2px solid var(--c-green-vivid);
        border-radius: 0.4rem;
        font-size: var(--fs-md);
        line-height: 1.5; 
    }

}