@use '../../components/card';
@use '../../components/form';

.settings-page {

    &__danger-zone {
        margin-top: 1.5rem;
        padding-top: 1.75rem;
        border-top:
            var(--border-width)
            solid
            var(--c-border);
    }

    &--delete {
        padding-top: 1.75rem;
        padding-bottom: 2.25rem;
    }
}

.profile-delete {
    &__actions {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }

    &__modal {
        padding: 1.5rem;
    }

    &__modal-input {
        width: 100%;
        max-width: 24rem;
    }

    &__modal-title {
        margin: 0;
        font-size: 1.125rem;
        font-weight: 500;
    }

    &__modal-description {
        margin-top: 0.25rem;
        font-size: 0.875rem;
        line-height: 1.5;
    }

    &__modal-field {
        margin-top: 1.5rem;
    }

    &__modal-actions {
        display: flex;
        justify-content: flex-end;
        gap: 0.75rem;
        margin-top: 1.5rem;
    }

    &__button {
        @include form.button(
            $width: 13.5rem,
            $margin: 0
        );

        height: 2.5rem;
        background-color: var(--c-danger);
        border-color: var(--c-danger);
        font-size: var(--fs-sm);

        &:hover:not(:disabled) {
            background-color: var(--c-danger-hover);
            border-color: var(--c-danger-hover);
        }
    }
}